  ° {box-sizing: border-box}
  body{
    margin: 0;
    padding: 0;
    font-family: monospace;
  }
  .preload{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; 
  }
  .logo{
    width: 300px;
    height: 70px;
    margin: 150px auto 50px auto;
    font-size: 50px;
    text-shadow: -1px 2px 2px #000;
    text-align: center;
    color: azure; 
  }

  .loader-frame{
    width: 70px;
    height: 70px;
    margin: auto;
    position: relative;

  }

  .loader1, .loader2{
    position: absolute;
    border: 5px solid transparent;
    border-radius: 50%;
  }

  .loader1{
    width: 70px;
    height: 70px;
    border-top: 5px solid green;
    border-bottom: 5px solid green;
    animation: clockwisespin 2s linear 3;
  }

  .loader2{
    width: 60px;
    height: 60px; 
    border-left: 5px solid darkblue;
    border-right: 5px solid darkblue;
    top: 5px; left: 5px;
    animation: anticlockwisespin 2s linear 3;
  }

  @keyframes clockwisespin{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

  @keyframes anticlockwisespin{
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
  }